/* orange #E75E02 */
/* grey #F0F0F0 */

body {
    background-color: #F0F0F0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #333333;
}

#container {
    margin: 48px auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: 80px auto;
    grid-gap: 24px;
}


.logo-img {
    max-width: 80px;
}


/*FONTS */


p {
    font-weight: 400;
    line-height: 20pt;
    max-width: 580pt;
    margin: 4pt 0;
}

section {
    margin-bottom: 32pt;
}

h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 32pt;
    line-height: 80px;
    margin-bottom: 8pt;
    color: #E75E02;
}

h2 {
    font-size: 24pt;
    line-height: 142%;
    margin-bottom: 8pt;
}

h3 {
    font-size: 14pt;
    line-height: 142%;
    margin-bottom: 4pt;
}

a {
    color: #333333;
    font-style: normal;
    font-weight: 600;
    line-height: 142%;
    /* identical to box height, or 34px */

    text-decoration-line: underline;
    color: #333333;
}

h4 {
    font-weight: 700;
    font-size: 14pt;
    line-height: 142%;
    color: #E75E02;
}

h5 {
    font-weight: 600;
    margin: 8pt 0 4pt;
}

ol, ul {
    list-style-position: inside;
    line-height: 160%;
}

strong {
    font-weight: 600;
}

.top {
    margin-bottom: 64pt;
}

.faq {
    margin-bottom: 8pt;
}
